<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">

  <% @posts.each do |post| %>
    <div class= "post-box">
      <h3><%= post.title %></h3>
      <p><%= post.content %></p>
      <span><%= link_to 'Show', post %></span>
      <span><%= link_to 'Edit', edit_post_path(post) %></span>
      <span><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Estás seguro?' } %></span>
    </div>
  <% end %>
  
</div>

